<MuiThemeProvider>
  <AppBar
    iconClassNameRight="muidocs-icon-navigation-expand-more"
    iconElementRight={
      <AppBarBoard
        apps = {
        [
          {
            "name": "Wiki",
            "url": "wiki.archer-app.com",
            "color": "#f44336",
            "icon": "wiki_icon"
          },
          {
            "name": "Pied Piper",
            "url": "piedpiper.archer-app.com",
            "color": "#ff9800",
            "icon": "pp_icon"
          },
          {
            "name": "Sales",
            "url": "sales.archer-app.com",
            "color": "#9c27b0",
            "icon": "sales_icon"
          },
          {
            "name": "Dispatch",
            "url": "dispatch.archer-app.com",
            "color": "#673ab7",
            "icon": "dispatch_icon"
          },
          {
            "name": "Guides",
            "url": "guides.archer-app.com",
            "color": "#f44336",
            "icon": "guides_icon"
          },
          {
            "name": "Admin",
            "url": "admin.archer-app.com",
            "color": "#000000",
            "icon": "admin_icon"
          }
          ]
        }
        moreAppUrl={'/'}
      />
    }
  />
</MuiThemeProvider>
